<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- https://www.sitepoint.com/a-basic-html5-template/ -->
  <title>MarkIt - Product: <%= data.product_name %>
  </title>


  <meta property="og:title" content="MarkIt - Dashboard">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Product Details of: <%= data.product_name %>">


  <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">


  <!--Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!--JS needed to make bootstrap work-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
  </style>

  <link rel="stylesheet" href="stylesheets/dashboard.css">
  <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
  <nav class="navbar navbar-custom navbar-expand-lg navbar-light">
    <div class="container-fluid collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand col" href="/dashboard"> <img src="/assets/Group 22.svg" alt="Logo" width="100vw"></a>

      <!--Language Selector-->
      <div class="navbar-nav ml-auto">
        <form class="form-inline form-inline my-2 my-lg-0" action="">
          <select class="form-control form-select lang-sign-up-nav" aria-label="Default select example">
            <option selected>EN</option>
            <option value="1">EN</option>
            <option value="2">DE</option>
            <option value="3">PL</option>
            <option value="3">FR</option>
          </select>
        </form>
      </div>

      <!--Avatar Image-->
      <div class="order-2">
        <div class="dropdown ">
          <!--Foto von <a href="https://unsplash.com/@juricakoletic?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jurica Koletić</a> auf <a href="https://unsplash.com/de/fotos/7YVZYZeITc8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>-->
          <button type="button" class="avatar avatar-mask" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <!--https://www.w3schools.com/cssref/tryit.php?filename=trycss3_mask-image0-->
            <!--https://www.w3schools.com/java/ref_string_charat.asp-->
            <!-- First letter of Username as Avatar-->
            <%= data.user_name.charAt(0) %>

          </button>

          <div class=" dropdown-menu dropleft" aria-labelledby="dropdownMenuButton">
            <form action="/logout" method="post">
              <button class="btn btn-link">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <!-- Edit modal  -->
  <div class="modal fade" id="editModal-<%= data.id %>" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="manualAddTitle">Edit Product</h2>
          <button type="button" class="close no-style-button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><img src="/assets/close.svg" alt="Close button" width="20px"></span>
          </button>
        </div>
        <!-- Edit the product -->
        <div class="modal-body">
          <!-- Edit the product  -->
          <div class="container sign-up">
            <div class="justify-content-center">
              <!--POST method. Takes id of the product-->
              <form class="mx-auto add-product" action="/update/<%= data.id %>" method="post">
                <div class="form-group">
                  <h3>
                    <%= data.product_name %>
                  </h3>
                  <!--Display product information to ensure that user selected correct product-->
                  <p>Barcode: <%= data.barcode %>
                  </p>

                  <% if (data.image_url==="Image is not available (Outside of Open Food Facts collaborative database)" )
                    { %>
                    <img class="img-fluid" src="assets/no_image_available.jpeg" width="400" height="350"
                      alt="No image available">
                    <% /* The following input field will be disabled if the image URL starts
                      with "https://images.openfoodfacts" */ %>
                      <% if (data.image_url.includes("openfoodfacts") !==0) { %>
                        <p>
                          <label for="image_url_field"></label>
                          <input type="text" id="image_url" name="image_url" value="<%= data.image_url %>">
                        </p>
                        <% } %>
                          <% } else { %>
                            <div class="d-flex justify-content-center align-items-center">
                              <img src="<%= data.image_url %>" alt="Product Image">
                            </div>
                            <% } %>

                              <label for="product_name-field"></label>
                              <input type="text" class="login-form" id="product_name" name="product_name"
                                placeholder="Product Name" value="<%= data.product_name %>">
                              <label for="quantity-field"></label>
                              <input type="text" class="login-form" id="quantity" name="quantity" placeholder="Quantity"
                                value="<%= data.quantity %>">
                              <label for="date-field"></label>
                              <input type="date" class="login-form" id="date" name="expiration_date"
                                placeholder="Expiration date" value="<%= data.expiration_date %>">
                </div>
                <button id="add-button" type="submit" class="button-primary">Update
                  item</button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- Bootstrap Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe src="add_product" width="100%" height="100%"></iframe></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <!--Back to dashboard navigation-->
  <div class="container">
    <form action="/dashboard" method="get" class="col-4 col-lg-2 col-xxl-1 back-dashboard">
      <!--no-style-button is a style less button-->
      <button class="no-style-button" id="back-button">
        <img src="/assets/back-button.svg" alt="back to dashboard button">
        Dashboard
      </button>
    </form>

  </div>

  <!-- Heading -->
  <div class="container">
    <div class="col">
      <h1>
        <%=data.product_name %>
      </h1>
    </div>
  </div>

  <!--Product information-->
  <div class="container">
    <div class="col col-lg-5">
      <% if (data.image_url==="Image is not available (Outside of Open Food Facts collaborative database)" ) { %>
        <img class="product-image" src="assets/no_image_available.jpeg" alt="No image available">
        <% } else { %>
          <img class="product-image" src="<%= data.image_url %>" alt="Image of <%= data.product_name %>">
          <% } %>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="row">
        <div class="col-4 col-lg-2">
          <h3>Barcode:</h3>
        </div>
        <div class="col">
          <p>
            <%= data.barcode %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-4 col-lg-2">
          <h3>Quantity:</h3>
        </div>
        <div class="col">
          <p>
            <%= data.quantity %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-4 col-lg-2">
          <h3>Best before:</h3>
        </div>
        <div class="col">
          <p>
            <%= data.expiration_date %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container item-information">
    <h2>Item Information</h2>

    <div class="row">
      <div class="col col-lg-1">
        <div class="info d-flex justify-content-center align-items-center">
          <h4 class="info-item" id="eco-score-info">
            <% if (data.eco_score=="a" || data.eco_score=="b" || data.eco_score=="c" || data.eco_score=="d" ||
              data.eco_score=="e" ) { %>
              <%= data.eco_score %>
          </h4>
          <% } else { %>
            N/A
            <% } %>
        </div>
      </div>

      <!--CO2 emission-->
      <div class="col col-lg-1">
        <div class="info d-flex justify-content-center align-items-center">
          <% try { %>
            <h4 class="info-item" id="co2">
              <%= data.co2.toFixed(2).toString().replace(".", "" ) %> g CO²
            </h4>
            <% } catch (error) { %>
              <h4 class="info-item"> N/A </h4>
              <% } %>
        </div>
      </div>

      <!--Vegan Icon-->
      <div class="col col-lg-1">
        <div class="info d-flex justify-content-center align-items-center">
          <!--Check if we have data-->
          <% if (data.is_vegan==1) { %>
            <svg width="29" height="34" viewBox="0 0 29 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.3287 23.7291C5.0387 27.8233 7.67287 31.1666 11.177 31.1666H16.965C20.9041 31.1666 23.6108 27.4408 22.9583 22.8791C22.2695 18.0908 18.3304 14.1666 14.1858 14.1666C9.69079 14.1666 5.70329 18.4733 5.3287 23.7291ZM12.6512 10.625C13.4524 10.625 14.2207 10.2518 14.7873 9.58763C15.3538 8.92344 15.672 8.0226 15.672 7.08329C15.672 6.14398 15.3538 5.24315 14.7873 4.57896C14.2207 3.91476 13.4524 3.54163 12.6512 3.54163C11.85 3.54163 11.0817 3.91476 10.5152 4.57896C9.94864 5.24315 9.63037 6.14398 9.63037 7.08329C9.63037 8.0226 9.94864 8.92344 10.5152 9.58763C11.0817 10.2518 11.85 10.625 12.6512 10.625ZM20.9041 12.325C21.5451 12.325 22.1598 12.0264 22.613 11.4951C23.0662 10.9637 23.3208 10.2431 23.3208 9.49163C23.3208 8.74018 23.0662 8.01951 22.613 7.48816C22.1598 6.9568 21.5451 6.65829 20.9041 6.65829C20.2632 6.65829 19.6485 6.9568 19.1953 7.48816C18.7421 8.01951 18.4875 8.74018 18.4875 9.49163C18.4875 10.2431 18.7421 10.9637 19.1953 11.4951C19.6485 12.0264 20.2632 12.325 20.9041 12.325V12.325ZM25.375 17.9916C25.613 17.9916 25.8487 17.9367 26.0686 17.8299C26.2885 17.7231 26.4883 17.5666 26.6566 17.3692C26.8249 17.1719 26.9584 16.9376 27.0495 16.6798C27.1406 16.422 27.1875 16.1457 27.1875 15.8666C27.1875 15.5876 27.1406 15.3112 27.0495 15.0534C26.9584 14.7956 26.8249 14.5613 26.6566 14.364C26.4883 14.1667 26.2885 14.0102 26.0686 13.9034C25.8487 13.7966 25.613 13.7416 25.375 13.7416C24.8942 13.7416 24.4332 13.9655 24.0933 14.364C23.7534 14.7625 23.5625 15.303 23.5625 15.8666C23.5625 16.4302 23.7534 16.9707 24.0933 17.3692C24.4332 17.7677 24.8942 17.9916 25.375 17.9916V17.9916ZM4.79704 15.1583C5.43798 15.1583 6.05267 14.8598 6.50588 14.3284C6.95909 13.7971 7.2137 13.0764 7.2137 12.325C7.2137 11.5735 6.95909 10.8528 6.50588 10.3215C6.05267 9.79014 5.43798 9.49163 4.79704 9.49163C4.1561 9.49163 3.54141 9.79014 3.0882 10.3215C2.63498 10.8528 2.38037 11.5735 2.38037 12.325C2.38037 13.0764 2.63498 13.7971 3.0882 14.3284C3.54141 14.8598 4.1561 15.1583 4.79704 15.1583V15.1583Z"
                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <% } else if (data.is_vegan==0) { %>
              <svg width="29" height="34" viewBox="0 0 29 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_501_364)">
                  <path
                    d="M5.3287 23.7291C5.0387 27.8233 7.67287 31.1666 11.177 31.1666H16.965C20.9041 31.1666 23.6108 27.4408 22.9583 22.8791C22.2695 18.0908 18.3304 14.1666 14.1858 14.1666C9.69079 14.1666 5.70329 18.4733 5.3287 23.7291ZM12.6512 10.625C13.4524 10.625 14.2207 10.2518 14.7873 9.58763C15.3538 8.92344 15.672 8.0226 15.672 7.08329C15.672 6.14398 15.3538 5.24315 14.7873 4.57896C14.2207 3.91476 13.4524 3.54163 12.6512 3.54163C11.85 3.54163 11.0817 3.91476 10.5152 4.57896C9.94864 5.24315 9.63037 6.14398 9.63037 7.08329C9.63037 8.0226 9.94864 8.92344 10.5152 9.58763C11.0817 10.2518 11.85 10.625 12.6512 10.625ZM20.9041 12.325C21.5451 12.325 22.1598 12.0264 22.613 11.4951C23.0662 10.9637 23.3208 10.2431 23.3208 9.49163C23.3208 8.74018 23.0662 8.01951 22.613 7.48816C22.1598 6.9568 21.5451 6.65829 20.9041 6.65829C20.2632 6.65829 19.6485 6.9568 19.1953 7.48816C18.7421 8.01951 18.4875 8.74018 18.4875 9.49163C18.4875 10.2431 18.7421 10.9637 19.1953 11.4951C19.6485 12.0264 20.2632 12.325 20.9041 12.325V12.325ZM25.375 17.9916C25.613 17.9916 25.8487 17.9367 26.0686 17.8299C26.2885 17.7231 26.4883 17.5666 26.6566 17.3692C26.8249 17.1719 26.9584 16.9376 27.0495 16.6798C27.1406 16.422 27.1875 16.1457 27.1875 15.8666C27.1875 15.5876 27.1406 15.3112 27.0495 15.0534C26.9584 14.7956 26.8249 14.5613 26.6566 14.364C26.4883 14.1667 26.2885 14.0102 26.0686 13.9034C25.8487 13.7966 25.613 13.7416 25.375 13.7416C24.8942 13.7416 24.4332 13.9655 24.0933 14.364C23.7534 14.7625 23.5625 15.303 23.5625 15.8666C23.5625 16.4302 23.7534 16.9707 24.0933 17.3692C24.4332 17.7677 24.8942 17.9916 25.375 17.9916V17.9916ZM4.79704 15.1583C5.43798 15.1583 6.05267 14.8598 6.50588 14.3284C6.95909 13.7971 7.2137 13.0764 7.2137 12.325C7.2137 11.5735 6.95909 10.8528 6.50588 10.3215C6.05267 9.79014 5.43798 9.49163 4.79704 9.49163C4.1561 9.49163 3.54141 9.79014 3.0882 10.3215C2.63498 10.8528 2.38037 11.5735 2.38037 12.325C2.38037 13.0764 2.63498 13.7971 3.0882 14.3284C3.54141 14.8598 4.1561 15.1583 4.79704 15.1583V15.1583Z"
                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <line y1="-1" x2="42.0591" y2="-1"
                    transform="matrix(-0.648947 0.760834 -0.648947 -0.760834 26.157 0.666626)" stroke="black"
                    stroke-width="2" />
                </g>
                <defs>
                  <clipPath id="clip0_501_364">
                    <rect width="29" height="34" rx="8" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <% } else { %>
                <h4 class="info-item"> N/A </h4>
                <% } %>
        </div>
      </div>

      <div class="col col-lg-1">
        <div class="info d-flex justify-content-center align-items-center">
          <!-- Icon from: https://www.svgrepo.com/svg/60579/palm-tree-->

          <% if (data.has_palm_oil==1) { %>
            <svg width="32" height="34" viewBox="0 0 32 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_6_66)">
                <path
                  d="M10.2963 17.1155C10.2103 17.0407 10.1043 17 9.99509 17C9.88592 17 9.77989 17.0407 9.69386 17.1155C8.75559 17.913 5.98524 20.5145 6.00006 23.545C6.00006 25.998 7.79264 28 10 28C12.2074 28 14 26.0035 14 23.5505C14.0049 20.564 11.2296 17.9185 10.2963 17.1155V17.1155Z"
                  stroke="black" stroke-miterlimit="10" />
                <path
                  d="M31.1247 13.2909C30.3372 12.2339 29.3028 11.3579 28.1331 10.7575C27.426 10.3945 26.6858 10.1353 25.9199 9.98034L29.6422 8.1708C29.7878 8.10001 29.8811 7.95307 29.8831 7.79119C29.8852 7.62921 29.7958 7.48004 29.652 7.40553C28.4816 6.79926 27.1682 6.46366 25.8539 6.43507C25.2165 6.42136 24.5892 6.47732 23.9752 6.60056L24.1761 6.36056C24.2646 6.25481 24.2963 6.11355 24.2629 5.98117C24.3994 5.99068 24.5326 5.93456 24.621 5.8287L26.3887 3.71586C26.4926 3.59161 26.5176 3.41948 26.4532 3.27084C26.3888 3.12219 26.246 3.02266 26.0844 3.01352C24.7684 2.9397 23.4328 3.17066 22.2218 3.68233C20.9518 4.21898 19.8563 5.03075 18.9658 6.09527C18.393 6.77992 17.9376 7.53047 17.6047 8.33725C17.2717 7.53047 16.8164 6.77997 16.2436 6.09527C15.353 5.03075 14.2576 4.21903 12.9877 3.68233C11.7766 3.17056 10.4409 2.93949 9.12502 3.01352C8.9633 3.02266 8.82056 3.12214 8.7562 3.27084C8.69179 3.41948 8.71682 3.59161 8.82072 3.71586L10.5884 5.8287C10.6769 5.93456 10.8103 5.99079 10.9466 5.98106C10.9132 6.11344 10.9449 6.25481 11.0334 6.36051L11.2343 6.60056C10.6203 6.47727 9.99291 6.4212 9.35561 6.43502C8.04121 6.46361 6.72786 6.79921 5.55753 7.40548C5.41378 7.47998 5.32428 7.62916 5.32636 7.79114C5.32843 7.95307 5.42164 8.09996 5.56731 8.17075L9.2896 9.98029C8.52364 10.1353 7.78346 10.3945 7.07638 10.7574C5.90679 11.3579 4.8723 12.2339 4.08481 13.2908C3.98809 13.4207 3.97284 13.5941 4.04554 13.7388C4.11819 13.8835 4.2663 13.9749 4.42828 13.9749H6.95319C6.87858 14.0455 6.80471 14.117 6.73222 14.1905C5.80917 15.1266 5.10065 16.2823 4.68321 17.5324C4.63193 17.686 4.67173 17.8555 4.78599 17.9702C4.86767 18.0522 4.97731 18.0962 5.08944 18.0962C5.13419 18.0962 5.17941 18.0892 5.22331 18.0748L9.41896 16.6929C9.55001 16.6498 9.65146 16.5465 9.69297 16.4164C9.80361 16.4963 9.94662 16.5192 10.0776 16.476L11.9412 15.8625C12.0722 15.8194 12.1736 15.7161 12.2152 15.5861C12.3258 15.666 12.4687 15.6888 12.5997 15.6456L15.4632 14.7026L14.9527 27.1745C14.9479 27.291 14.9909 27.4044 15.0716 27.4885C15.1524 27.5727 15.264 27.6202 15.3805 27.6202H19.8299C19.9465 27.6202 20.058 27.5727 20.1388 27.4885C20.2195 27.4044 20.2625 27.291 20.2577 27.1745L19.7472 14.703L22.6097 15.6456C22.7407 15.6888 22.8836 15.666 22.9942 15.5862C23.0358 15.7161 23.1372 15.8195 23.2682 15.8626L25.1317 16.4761C25.263 16.5193 25.4058 16.4964 25.5164 16.4165C25.5579 16.5465 25.6594 16.6499 25.7904 16.693L29.9862 18.0749C30.03 18.0893 30.0752 18.0964 30.12 18.0964C30.2321 18.0964 30.3419 18.0523 30.4235 17.9703C30.5378 17.8556 30.5776 17.6861 30.5263 17.5326C30.1088 16.2823 29.4003 15.1267 28.4773 14.1906C28.4048 14.1171 28.3309 14.0456 28.2563 13.9751H30.7812C30.9432 13.9751 31.0913 13.8836 31.1639 13.7389C31.2366 13.5941 31.2214 13.4207 31.1247 13.2909ZM25.8353 7.29122C26.7229 7.31056 27.6101 7.48535 28.4429 7.80166L25.5113 9.22682L25.153 8.99671C25.0273 8.91598 24.8687 8.90668 24.7344 8.97194C24.6001 9.03725 24.5095 9.16778 24.4954 9.31647L24.455 9.74029L24.3109 9.81039C24.2716 9.8098 24.2325 9.80869 24.1932 9.80869C22.8053 9.80869 21.4797 10.128 20.2533 10.7576C19.6525 11.066 19.0879 11.4475 18.5736 11.8885C18.8106 11.3594 19.1052 10.8567 19.452 10.3947C20.1973 9.40193 21.1454 8.62135 22.27 8.07461C23.3948 7.52771 24.5944 7.26507 25.8353 7.29122ZM19.6226 6.64483C20.4251 5.68574 21.4117 4.95443 22.5552 4.47125C23.373 4.12566 24.2539 3.92206 25.1433 3.86993L24.1186 5.09468L23.6976 5.03138C23.5499 5.00906 23.4013 5.06545 23.3054 5.18008C23.2095 5.29461 23.1804 5.45085 23.2282 5.59232L23.3649 5.99557L22.4881 7.04351C22.2887 7.12312 22.0911 7.20943 21.8956 7.30445C20.6475 7.91124 19.5949 8.77797 18.7672 9.88049C18.4919 10.2472 18.2468 10.6372 18.033 11.0441V9.78031H18.0329C18.3165 8.6221 18.8509 7.5673 19.6226 6.64483ZM18.8783 14.4168L18.9104 15.2009H16.3L16.3322 14.4165L17.6048 13.9974L18.8783 14.4168ZM16.0619 21.0168L16.1458 18.9653H19.0645L19.1485 21.0168H16.0619ZM19.1835 21.8732L19.2675 23.9248H15.9429L16.0269 21.8732H19.1835ZM16.1809 18.1089L16.2649 16.0573H18.9454L19.0294 18.1089H16.1809ZM11.0908 5.09457L10.0661 3.86982C10.9554 3.92201 11.8365 4.12566 12.6542 4.47114C13.7976 4.95433 14.7844 5.68569 15.5868 6.64472C16.3585 7.56725 16.8929 8.62199 17.1765 9.78015V11.044C16.9626 10.637 16.7175 10.247 16.4423 9.88027C15.6145 8.7777 14.5619 7.91103 13.3138 7.30424C13.1184 7.20927 12.9208 7.12291 12.7214 7.04335L11.8445 5.99536L11.9813 5.5921C12.0292 5.45064 11.9999 5.29439 11.9041 5.17987C11.8082 5.06529 11.6594 5.00885 11.5119 5.03117L11.0908 5.09457ZM6.7665 7.80156C7.59937 7.48524 8.4865 7.31045 9.37405 7.29111C10.6163 7.2648 11.8146 7.52765 12.9393 8.07445C14.0639 8.62119 15.012 9.40177 15.7572 10.3945C16.1041 10.8565 16.3986 11.3592 16.6356 11.8883C16.1213 11.4473 15.5567 11.0659 14.956 10.7574C13.7296 10.1278 12.404 9.80853 11.0161 9.80853C10.9768 9.80853 10.9376 9.80975 10.8984 9.81023L10.7543 9.74013L10.7139 9.31631C10.6998 9.16762 10.6092 9.03704 10.4749 8.97178C10.3406 8.90647 10.182 8.91582 10.0563 8.99655L9.69796 9.22661L6.7665 7.80156ZM6.94225 13.1185H5.34543C5.95606 12.4699 6.67759 11.9248 7.46736 11.5194C8.57169 10.9524 9.76572 10.665 11.0162 10.665C12.2667 10.665 13.4606 10.9524 14.5649 11.5194C14.8343 11.6577 15.0956 11.8124 15.3473 11.9817C14.5527 11.7444 13.7242 11.6211 12.8807 11.6211C11.9648 11.6211 11.0553 11.7677 10.1775 12.0567C9.42725 12.3038 8.72867 12.6432 8.08733 13.0703L7.89511 12.7549C7.81742 12.6274 7.67882 12.5495 7.52948 12.5495C7.38015 12.5495 7.24155 12.6273 7.16385 12.7549L6.94225 13.1185ZM12.5602 14.7569L12.2362 14.4809C12.1225 14.3842 11.9666 14.3534 11.8246 14.4002C11.6827 14.4469 11.5754 14.5643 11.5415 14.7097L11.4449 15.1243L10.0382 15.5874L9.71401 15.3113C9.60028 15.2145 9.44436 15.1839 9.30247 15.2306C9.16057 15.2773 9.05327 15.3946 9.01937 15.5401L8.92265 15.9548L5.82649 16.9744C6.20365 16.1673 6.71851 15.424 7.34183 14.7918C8.21344 13.9079 9.25761 13.2614 10.4455 12.8702C11.2367 12.6097 12.056 12.4776 12.8807 12.4776C14.1899 12.4776 15.4601 12.8033 16.6008 13.4263L12.5602 14.7569ZM15.8267 26.7637L15.9078 24.7813H19.3027L19.3838 26.7637H15.8267ZM29.3829 16.9744L26.2867 15.9547L26.19 15.54C26.156 15.3946 26.0487 15.2773 25.9069 15.2306C25.765 15.1838 25.609 15.2145 25.4953 15.3112L25.1711 15.5873L23.7645 15.1242L23.6679 14.7097C23.634 14.5642 23.5267 14.4469 23.3848 14.4002C23.2429 14.3534 23.0869 14.384 22.9732 14.4809L22.6491 14.7568L18.6085 13.4262C19.7493 12.8033 21.0195 12.4775 22.3286 12.4775C23.1534 12.4775 23.9727 12.6096 24.7639 12.8702C25.9517 13.2614 26.9959 13.9079 27.8675 14.7918C28.4909 15.4239 29.0057 16.1673 29.3829 16.9744ZM28.2672 13.1184L28.0456 12.7549C27.9679 12.6274 27.8293 12.5495 27.6799 12.5495C27.5306 12.5495 27.392 12.6273 27.3143 12.7549L27.1221 13.0703C26.4808 12.6432 25.7822 12.3038 25.032 12.0567C24.1542 11.7676 23.2447 11.6211 22.3288 11.6211C21.4852 11.6211 20.6568 11.7444 19.8622 11.9817C20.1139 11.8124 20.3752 11.6577 20.6446 11.5194C21.7488 10.9524 22.9429 10.665 24.1933 10.665C25.4438 10.665 26.6378 10.9524 27.7421 11.5194C28.5319 11.9248 29.2534 12.4699 29.8641 13.1185L28.2672 13.1184Z"
                  fill="black" fill-opacity="0.69" />
              </g>
              <defs>
                <clipPath id="clip0_6_66">
                  <rect width="32" height="34" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <% } else if (data.has_palm_oil==0) { %>
              <img class="info-item" src="/assets/palmoil_free.svg" alt="" width="50px">
              <% } else { %>
                <h4 class="info-item"> N/A </h4>
                <% } %>
        </div>
      </div>

    </div>

    <!--Icon Labels-->
    <div class="row">
      <div class="col col-lg-1">
        <div class="info-text">
          <h4>Eco Score</h4>
        </div>
      </div>

      <div class="col col-lg-1">
        <div class="info-text">
          <h4>CO² per 100g</h4>
        </div>
      </div>

      <div class="col col-lg-1">
        <div class="info-text">
          <h4>
            <%= data.is_vegan ? "Vegan" : "not Vegan" %>
          </h4>
        </div>
      </div>

      <div class="col col-lg-1">
        <div class="info-text">
          <h4>
            <%= data.has_palm_oil ? "has palm oil" : "no palm oil" %>
          </h4>
        </div>
      </div>


    </div>
  </div>

  <div class="container edit-section">
    <div class="row">
      <div class="col col-lg">
        <button type="submit" class="button-secondary" data-toggle="modal"
          data-target="#editModal-<%= data.id %>">Edit</button>
      </div>
    </div>

  </div>

  <script src="js/scripts.js"></script>

</body>

</html>